.wrapper{
    /*background-color: #fcfcfc;*/
}
.wrapper>div{
    height: 100%;
}
/*�����Ϣ�б�*/
.list-group-item:first-child,
.list-group-item:last-child,
.list-group-item{
    border: 0;
    font-size: 20px;
    border-radius: 20px;
}
.list-group-item .frieds-photo{
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 50%;
    vertical-align: bottom;
}

.friends {
    overflow-y: auto;
    padding-left: 20px;
    /*background-color: #fcfcfc;*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.friends .friends-list {
    width: 100%;
    padding: 4px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.friends .friends-list li{
     padding: 4px;
     box-sizing: border-box;
 }
.friends-list .list-group{
    display: none;
}
.friends-group{
    cursor: pointer;
}
.friends-group h2{
    display: inline-block;
    color: #0c0a09;
    font-size: 18px;
    font-weight: 600;

}
.friends-list .list-group{
    margin-left: 32px;
    box-sizing: border-box;
}




/*info-boxҳ��*/
.info-box{
    width: 100%;
    height: 100%;
}
.info-box .photo{
    position: relative;
    width: 100%;
    height: 100px;
}

.info-box .photo img{
    position: absolute;
    top: 10px;
    left: 32px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.info-box .photo span{
    position: absolute;
    top: 24px;
    left: 128px;
    font-size: 36px;
    font-weight: 700;
}
.info-box .info-list .list-group-item{
    display: flex;
}
.info-box .info-list .list-group-item span:first-child{
    display: inline-block;
    width:72px;
    height: 100%;
    /*margin-left: 10px;*/
    margin-right: 24px;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    line-height: 28.57px;
}
.info-box .info-list .list-group-item span:last-child{
    display: inline-block;
    flex: 1;
}
#move-groups{
    display: inline-block;
    width: 100px;
    height: 36px;
    font-size: 20px;
    text-align: center;
}

.custom-select {
    position:relative;
    display:inline-block;
}

.custom-select select {
    display:none;/* 隐藏原生下拉框 */
}

.select-selected {
    background-color:#f2f2f2;
    padding-left: 20px;
    padding-right: 40px;
    cursor:pointer;
    /*display: inline-block;*/
    min-width: 160px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    text-align: left;
}

.select-selected:after {
    content:"\25BC";/* 使用Unicode字符表示向下箭头 */
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
}

.select-items {
    position:absolute;
    background-color:#f9f9f9;
    min-width:160px;
    max-height:200px;
    overflow-y:auto;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    display:none;
    z-index:1;
}

.select-items div {
    padding:12px 16px;
    cursor:pointer;
}

.select-items div:hover {
    background-color:#f2f2f2;
}

.add-option-input {
    padding:10px;
}




#delete{
    width: 100px;
    height: 36px;
    background-color: red;
}


/*处理好友申请֤*/

.friends-validation {
    overflow-y: auto;
    padding-left: 20px;
    /*background-color: #fcfcfc;*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.friends-validation .friends-validation-list {
    width: 100%;
    padding: 4px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.friends-validation .friends-validation-list li{
    padding: 4px;
    box-sizing: border-box;
}
.friends-validation-list .list-group{
    display: none;
}
.friends-validation-group,
.friends-apply-group{
    position: relative;
    cursor: pointer;
}
.friends-validation-group h2,
.friends-apply-group h2{
    display: inline-block;
    color: #0c0a09;
    font-size: 18px;
    font-weight: 600;

}
.friends-validation-list .list-group{
    /*margin-left: 32px;*/
    box-sizing: border-box;
}
#verify-count{
    /*display: none;*/
    position: absolute;
    left: 112px;
    top: 20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
}

/*搜索好友信息*/
.search-friends-info-box{
    width: 100%;
}

.search-friends-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #fcf8e3ff;
}
.search-friends-info .search-frieds-photo{
    width: 48px;
    height: 48px;
    margin: 16px 0;
    border-radius: 50%;
}
.search-friends-info .box{
    flex: 1;
    margin: 12px 10px;
    font-size: 16px;
}
.search-friends-info .box .row1,
.search-friends-info .box .row2{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.search-friends-info .box .row1 .checkbox{
    display: inline-block;
    position: absolute;
    right: 10px;
}
.search-friends-info .box .row1 .checkbox span{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 24px;
    border-radius: 4px;
    bottom: 5px;
    background-color: #5cb85c;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
.search-friends-info .box .row2 span:last-child{
    position: absolute;
    right: 10px;
    color: red;
}
#add{
    cursor: pointer;
}

/*好友验证列表样式*/
.friends-verify-list>button,
.friends-apply-list>button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    margin-top: 10px;
}
.friends-verify-list>button .frieds-validation-photo,
.friends-apply-list>button .frieds-validation-photo{
    width: 48px;
    height: 48px;
    margin: 16px 0;
    border-radius: 50%;
}
.friends-verify-list>button .box,
.friends-apply-list>button .box{
    flex: 1;
    margin: 12px 10px;
    font-size: 16px;
}
.friends-verify-list>button .box .row1,
.friends-verify-list>button .box .row2,
.friends-apply-list>button .box .row1,
.friends-apply-list>button .box .row2{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.friends-verify-list>button .box .row1 .checkbox,
.friends-apply-list>button .box .row1 .checkbox{
    display: inline-block;
    position: absolute;
    right: 10px;
}
.friends-verify-list>button .box .row1 .checkbox span,
.friends-apply-list>button .box .row1 .checkbox span{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    border-radius: 4px;
    bottom: 5px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
.friends-verify-list>button .box .row2 span:last-child,
.friends-apply-list>button .box .row1 span:last-child,
.friends-apply-list>button .box .row2 span:last-child{
    position: absolute;
    right: 10px;
}
.friends-verify-list>button .box .row1 .checkbox .agree,
.friends-verify-list>button .box .row1 .checkbox .agreed{
    background-color: #5cb85c;
}
.friends-verify-list>button .box .row1 .checkbox .reject,
.friends-verify-list>button .box .row1 .checkbox .rejected{
    background-color: #c7254e;
}
.friends-verify-list>button .box .row1 .checkbox .agreed,
.friends-verify-list>button .box .row1 .checkbox .rejected{
    width: 60px;
}
