.wrapper{
    /*background-color: #fcfcfc;*/
}
.wrapper>div{
    height: 100%;
}
/*�����Ϣ�б�*/
.list-group-item:first-child,
.list-group-item:last-child,
.list-group-item{
    border: 0;
    font-size: 20px;
    border-radius: 20px;
}
.list-group-item .frieds-photo{
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 50%;
    vertical-align: bottom;
}

.friends {
    overflow-y: auto;
    padding-left: 20px;
    /*background-color: #fcfcfc;*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.friends .friends-list {
    width: 100%;
    padding: 4px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.friends .friends-list li{
     padding: 4px;
     box-sizing: border-box;
 }
.friends-list .list-group{
    display: none;
}
.friends-group{
    cursor: pointer;
}
.friends-group h2{
    display: inline-block;
    color: #0c0a09;
    font-size: 18px;
    font-weight: 600;

}
.friends-list .list-group{
    margin-left: 32px;
    box-sizing: border-box;
}




/*info-boxҳ��*/
.info-box{
    width: 100%;
    height: 100%;
}
.info-box .photo{
    position: relative;
    width: 100%;
    height: 100px;
}

.info-box .photo img{
    position: absolute;
    top: 10px;
    left: 32px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.info-box .photo span{
    position: absolute;
    top: 24px;
    left: 128px;
    font-size: 36px;
    font-weight: 700;
}
.info-box .info-list .list-group-item{

}
.info-box .info-list .list-group-item span:first-child{
    display: inline-block;
    width:72px;
    /*margin-left: 10px;*/
    margin-right: 24px;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    line-height: 1;
}
#move-groups{
    display: inline-block;
    width: 100px;
    height: 36px;
    font-size: 14px;
    text-align: center;
}

#delete{
    width: 100px;
    height: 36px;
    background-color: red;
}


/*处理好友申请֤*/

.friends-validation {
    overflow-y: auto;
    padding-left: 20px;
    /*background-color: #fcfcfc;*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.friends-validation .friends-validation-list {
    width: 100%;
    padding: 4px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.friends-validation .friends-validation-list li{
    padding: 4px;
    box-sizing: border-box;
}
.friends-validation-list .list-group{
    display: none;
}
.friends-validation-group{
    cursor: pointer;
}
.friends-validation-group h2{
    display: inline-block;
    color: #0c0a09;
    font-size: 18px;
    font-weight: 600;

}
.friends-validation-list .list-group{
    margin-left: 32px;
    box-sizing: border-box;
}

/*搜索好友信息*/
.search-friends-info-box{
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.search-friends-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #fcf8e3ff;
}
.search-friends-info .search-frieds-photo{
    width: 48px;
    height: 48px;
    margin: 16px 0;
    border-radius: 50%;
}
.search-friends-info .search-frieds-description{
    flex: 1;
    width: 100%;
    margin: 12px 10px;
}
.search-friends-info .search-frieds-description div{
    overflow: hidden;
    width: 100%;
    line-height: 28px;
}
.search-friends-info .search-frieds-description span{
    float: left;
    font-size: 16px;
}
.search-friends-info .search-frieds-description .row2 span:nth-child(2){
    float: right;
    color: red;
}

.search-friends-info .search-frieds-description #add{
    float: right;
}

