<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好友</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/friends.css">
</head>
<body>
<div class="box">
    <!--    好友列表-->
    <div class="wrapper">
        <div class="col-xs-4 col-sm-4 col-md-4">
<!--                    好友或群聊列表-->
            <div class="friends list-box">
                <ul class="friends-list list-group list">
                    <li class="left list-group-item">
                        <div class="friends-group">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h2>我的好友</h2>
                        </div>
                        <div class="我的好友 list-group">
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                俞杨
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                洪邦伟
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                黄康
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                黄弘扬
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                肖星明
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">好友6
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">好友7
                            </button>
                        </div>
                    </li>
                    <li class="left list-group-item">
                        <div class="friends-group">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h2>我的好友</h2>
                        </div>
                        <div class="我的好友 list-group">
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                俞杨
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                洪邦伟
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                黄康
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                黄弘扬
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                肖星明
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">好友6
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">好友7
                            </button>
                        </div>
                    </li>
                    <li class="left list-group-item">
                        <div class="friends-group">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h2>我的好友</h2>
                        </div>
                        <div class="我的好友 list-group">
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                俞杨
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                洪邦伟
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                黄康
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                黄弘扬
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                肖星明
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">好友6
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">好友7
                            </button>
                        </div>
                    </li>
                    <li class="left list-group-item">
                        <div class="friends-group">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h2>我的好友</h2>
                        </div>
                        <div class="我的好友 list-group">
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                俞杨
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                洪邦伟
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                黄康
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                黄弘扬
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">
                                肖星明
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">好友6
                            </button>
                            <button type="button" class="list-group-item">
                                <img src="/images/defualt.png" class="frieds-photo">好友7
                            </button>
                        </div>
                    </li>
                </ul>

                <div class="drager_bar">
                    <div class="drager"></div>
                </div>
            </div>

        </div>

        <div class="col-xs-8 col-sm-8 col-md-8">
            <div class="info-box">
                <div class="photo">
                    <img src="/images/defualt.png">
                    <span>张三</span>
                </div>
                <div class="info">
                    <ul class="info-list list-group">
                        <li class="list-group-item">
                            <span>UID:</span>
                            <span>123456</span>
                        </li>
                        <li class="list-group-item">
                            <span>昵称:</span>
                            <span>张三</span>
                        </li>
                        <li class="list-group-item">
                            <span>性别:</span>
                            <span>未知</span>
                        </li>
                        <li class="list-group-item">
                            <span>个人介绍:</span>
                            <span>法外狂徒</span>
                        </li>
                        <li class="list-group-item">
                            <span>分组:</span>
                            <span>我的好友</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scroll.js"></script>
<script type="text/javascript" src="/js/friends.js"></script>
</body>
</html>