<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好友</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/friends.css">
</head>
<body>
<div class="box">
    <!--    好友-->
    <div class="wrapper">
<!--        好友分组列表-->
        <div class="col-xs-3 col-sm-3 col-md-3">
<!--                    好友或群聊列表-->
            <div class="friends">
                <ul class="friends-list list-group">

                </ul>

            </div>

        </div>
<!--        好友详细信息-->
        <div class="col-xs-5 col-sm-5 col-md-5">
            <div class="info-box">
                <div class="photo">
                    <img src="/images/avatar/defualt.png">
                    <span>张三</span>
                </div>
                <div class="info">
                    <ul class="info-list list-group">
                        <li class="list-group-item">
                            <span>UID:</span>
                            <span>123456</span>
                        </li>
                        <li class="list-group-item">
                            <span>昵称:</span>
                            <span>张三</span>
                        </li>
                        <li class="list-group-item">
                            <span>性别:</span>
                            <span>未知</span>
                        </li>
                        <li class="list-group-item">
                            <span>个人介绍:</span>
                            <span>法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒法外狂徒</span>
                        </li>

                        <li class="list-group-item">
                            <span>当前分组:</span>
                            <select name="move-groups" id="move-groups">
                                <option value="我的好友">我的好友</option>
                                <option value="基友">基友</option>
                                <option value="死党">死党</option>
                            </select>
                        </li>
                        <li class="list-group-item">
                            <span>删除:</span>
                            <button type="button" id="delete" class="btn btn-primary">
                                删除好友
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<!--        处理好友申请相关信息申请-->
        <div class="col-xs-4 col-sm-4 col-md-4">
            <!--                    好友申请和好友验证列表-->

            <div class="friends-validation">
                <div class="search-friends-box">
                    <input type="text" class="form-control" placeholder="Search friends" id="search-friends" autocomplete="off" name="search">
                    <div class="search-friends-info-box">
                    </div>
                </div>
                <ul class="friends-validation-list list-group">

                </ul>

            </div>

        </div>

    </div>
</div>





<!--好友列表-->
<script type="text/html" id="tpl-friends-list">
    {{each data}}
    <li class="left list-group-item">
        <div class="friends-group">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <h2>{{$value.friendship_name}}</h2>
        </div>
        <div class="list-group">
            {{each $value.friends}}
            <button type="button" class="list-group-item" uid="{{$value.user_id}}">
                <img src="{{$value.user_photo}}" class="frieds-photo">
                {{$value.user_name}}
            </button>
            {{/each}}
        </div>
    </li>
    {{/each}}
</script>


<!--搜索好友显示-->
<script type="text/html" id="tpl-search-friends-info">
    <div class="search-friends-info">
        <img src="{{data.user_photo}}" class="search-frieds-photo">
        <div class="box">
            <div class="row1">
                <span>{{data.user_id}}</span>
                {{if isfriend == false}}
                <div class="checkbox">
                    <span id="add">添加好友</span>
                </div>
                {{/if}}
            </div>
            <div class="row2">
                <span>{{data.user_name}}</span>
                {{if isfriend == 'received'}}
                <span>对方给您发来了好友申请</span>
                {{else if isfriend == 'sended'}}
                <span>您已发送过申请</span>
                {{else if isfriend == true}}
                <span>对方已是您的好友</span>
                {{else}}
                <span>请谨慎添加陌生人为好友</span>
                {{/if}}
            </div>
        </div>
    </div>
</script>
<!--好友验证-->
<script type="text/html" id="tpl-friends-validation-list">
    <li class="left list-group-item">
        <div class="friends-validation-group">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <h2>好友验证</h2>
            <span id="verify-count"></span>
        </div>
        <div class="friends-verify-list list-group">
            {{each data.validationlist}}
            <button type="button" class="list-group-item" readstatus="{{$value.validation_readstatus}}">
                <img src="{{$value.validation_sender_photo}}" class="frieds-validation-photo">
                <div class="box">
                    <div class="row1">
                        <span>{{$value.validation_senderid}}</span>
                        <div class="checkbox" aid="{{$value.validation_id}}">
                            {{if $value.validation_status == 0}}
                            <span class="agree">同意</span>
                            <span class="reject">拒绝</span>
                            {{else if $value.validation_status == 1}}
                            <span class="agreed">已同意</span>
                            {{else if $value.validation_status == -1}}
                            <span class="rejected">已拒绝</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="row2">
                        <span>{{$value.validation_sender_name}}</span>
                        <span>{{$value.validation_time}}</span>
                    </div>
                </div>
            </button>
            {{/each}}
        </div>
    </li>
    <li class="left list-group-item">
        <div class="friends-apply-group">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <h2>好友申请</h2>
<!--            <span id="apply-count" apply-count="0">0</span>-->
        </div>
        <div class="friends-apply-list list-group">
            {{each data.applylist}}
            <button type="button" class="list-group-item" readstatus="{{$value.validation_readstatus}}">
                <img src="{{$value.validation_receiver_photo}}" class="frieds-validation-photo">
                <div class="box">
                    <div class="row1">
                        <span>{{$value.validation_senderid}}</span>
                        {{if $value.validation_status == 0}}
                        <span>等待对方验证……</span>
                        {{else if $value.validation_status == 1}}
                        <span>对方已同意</span>
                        {{else if $value.validation_status == -1}}
                        <span>对方已拒绝</span>
                        {{/if}}
                    </div>
                    <div class="row2">
                        <span>{{$value.validation_receiver_name}}</span>
                        <span>{{$value.validation_time}}</span>
                    </div>
                </div>
            </button>
            {{/each}}
        </div>
    </li>
</script>
<!--好友申请-->
<script type="text/html" id="tpl-friends-apply-list">
    {{each data}}
    <button type="button" class="list-group-item" readstatus="{{$value.validation_readstatus}}">
        <img src="{{$value.data.user_photo}}" class="frieds-validation-photo">
        <div class="box">
            <div class="row1">
                <span>{{$value.validation_senderid}}</span>
                <div class="checkbox" aid="{{$value.validation_id}}">
                    {{if $value.validation_status == 0}}
                    <span class="agree">同意</span>
                    <span class="reject">拒绝</span>
                    {{else if $value.validation_status == 1}}
                    <span class="agreed">已同意</span>
                    {{else if $value.validation_status == 2}}
                    <span class="rejected">已拒绝</span>
                    {{/if}}
                </div>
            </div>
            <div class="row2">
                <span>{{$value.data.user_name}}</span>
                <span>{{$value.validation_time}}</span>
            </div>
        </div>
    </button>
    {{/each}}
</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/art-template.js"></script>
<script type="text/javascript" src="/js/friends.js"></script>
</body>
</html>