<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/cropper.css">
    <link rel="stylesheet" href="/css/info.css">
</head>
<body>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">更改头像</label>
        <div class="layui-card">
            <div class="layui-card-body">
                <!-- 第一行的图片裁剪和预览区域 -->
                <div class="row1">
                    <!-- 图片裁剪区域 -->
                    <div class="cropper-box">
                        <!-- 这个 img 标签很重要，将来会把它初始化为裁剪区域 -->
                        <img id="image" src="" />
                    </div>
                    <!-- 图片的预览区域 -->
                    <div class="preview-box">
                        <div>
                            <!-- 宽高为 100px 的预览区域 -->
                            <div class="img-preview w100"></div>
                            <p class="size">60 x 60</p>
                        </div>
                        <div class="avatar-button">
                            <!-- 通过 accept 属性指定选择类型文件 -->
                            <input type="file" id="file" accept="image/png,image/jpeg">
                            <button type="button" class="layui-btn" id="bnt-choose-img">上传</button>
                            <button type="button" class="layui-btn layui-btn-danger" id="btn-upload">确定</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">UID</label>
        <div class="layui-input-inline layui-input-wrap">
            <input type="text" name="uid" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline layui-input-wrap">
            <input type="text" name="uname" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="ugender" value="男" title="男">
            <input type="radio" name="ugender" value="女" title="女">
            <input type="radio" name="ugender" value="保密" title="保密">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-inline layui-input-wrap">
            <input type="text" name="uage" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">个性签名</label>
        <div class="layui-input-block">
            <textarea name="uintroduce" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit lay-filter="update">确认修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/layui.js"></script>
    <script type="text/javascript" src="/js/Cropper.js"></script>
    <script type="text/javascript" src="/js/jquery-cropper.js"></script>
    <script type="text/javascript" src="/js/info.js"></script>
</body>
</html>