<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/messages.css">
</head>
<body>
<div class="box">
    <!--    消息页面-->
    <div class="wrapper">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <!-- 好友或群聊列表-->
            <div class="messages-sender-list list-group">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <!--                    这里是消息显示页面-->
            <div class="messages-box">
                <!--                        这是消息列表-->
                <div class="messages">
                    <ul class="messages-list list-group">

                    </ul>
                    <div class="drager_bar">
                        <div class="drager"></div>
                    </div>
                </div>
                <!--                        这里是消息输入框-->
                <div class="input">
                    <!--                            选择图片或语音发送-->
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-xs" id="send-text">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            发送文本
                        </button>
                        <button type="button" class="btn btn-default btn-xs" id="chose-msg">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            发送图片
                        </button>
                        <button type="button" class="btn btn-default btn-xs" id="send-voice">
                            <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                            发送语音
                        </button>
                    </div>
                    <!--                            输入文本信息发送-->
                    <div class="input-group">
                        <textarea class="form-control" rows="4" style="resize:none" placeholder="请输入内容" id="text"></textarea>
                        <input type="file" id="file" accept="image/png,image/jpeg" class="hide">
                        <img src="/images/avatar/defualt.png">
                        <div class="voice">
                            <div class="voice-btn">
                                <span class="glyphicon glyphicon-play-circle"></span>
                                <span>开始录音</span>
                            </div>
                            <audio id="audioPlayer" controls style="display:none;"></audio>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="send" msgtype="0">发送</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="info-box">

            </div>
        </div>
    </div>
</div>


<!-- 定义模板 messages-sender-list -->
<script type="text/html" id="tpl-messages-sender-list">
    {{each data}}
    <button type="button" class="list-group-item" mid="{{ $value.user_id || $value.group_id}}">
        <img src="{{$value.user_photo || $value.group_photo}}" class="frieds-photo">
        <div class="box">
            <div class="row1">
                <span>{{$value.user_name ? $value.user_name: $value.group_name}}</span>
                {{ if $value.no_read != 0 }}
                <span count="{{$value.no_read}}">{{$value.no_read > 99? '99+':$value.no_read }}</span>
                {{ else }}
                <span count="{{$value.no_read}}" style="display: none;">0</span>
                {{ /if }}
            </div>
            <div class="row2">
                {{ if $value.record_type == 0 || $value.grouprecord_type == 0}}
                <span>{{$value.record_content ? $value.record_content : $value.grouprecord_content
 | cropMsg}}</span>
                {{ else if $value.record_type == 1 || $value.grouprecord_type == 1}}
                <span>图片消息</span>
                {{ else if $value.record_type == 2 || $value.grouprecord_type == 2}}
                <span>语音消息</span>
                {{ /if }}
                <span>{{ $value.compare_time | cropTime}}</span>
            </div>
        </div>
    </button>

    {{/each}}
</script>
<!--消息页面-->
<script type="text/html" id="tpl-messages-list">
    {{each data}}
    {{if my_id == $value.record_senderid || my_id == $value.grouprecord_senderid}}
    <li class="right list-group-item clearfix">
        <img src="{{my_photo}}" class="head"/>
        {{if $value.record_type == 0 || $value.grouprecord_type == 0}}
        <span>
            {{$value.record_content ? $value.record_content : $value.grouprecord_content}}
        </span>
        {{ else if $value.record_type == 1 || $value.grouprecord_type == 1}}
        <span>
            <img class="messages-photo" src="{{$value.record_content ? $value.record_content : $value.grouprecord_content}}">
        </span>
        {{ else if $value.record_type == 2 || $value.grouprecord_type == 2}}
        <span>
            <audio src="{{$value.record_content ? $value.record_content : $value.grouprecord_content}}" controls></audio>
        </span>
        {{/if}}
    </li>
    {{else}}
    <li class="left list-group-item clearfix">

        <span class="talk-name">{{ $value.user_name }}</span>
        <img src="{{friend_photo ? friend_photo: $value.user_photo }}" class="head" />
        {{if $value.record_type == 0 || $value.grouprecord_type == 0}}
        <span>
            {{$value.record_content ? $value.record_content : $value.grouprecord_content}}
        </span>
        {{ else if $value.record_type == 1 || $value.grouprecord_type == 1}}
        <span>
            <img class="messages-photo" src="{{$value.record_content ? $value.record_content : $value.grouprecord_content}}">
        </span>
        {{ else if $value.record_type == 2 || $value.grouprecord_type == 2}}
        <span>
            <audio src="{{$value.record_content ? $value.record_content : $value.grouprecord_content}}" controls></audio>
        </span>
        {{/if}}
    </li>
    {{/if}}
    {{/each}}
</script>
<!--好友信息模板-->
<script type="text/html" id="tpl-friend-info">
    <div class="photo">
        <img src="{{data.user_photo}}">
        <span>{{data.user_name}}</span>
    </div>
    <div class="info">
        <ul class="info-list list-group">
            <li class="list-group-item">
                <span>UID:</span>
                <span>{{data.user_id}}</span>
            </li>
            <li class="list-group-item">
                <span>昵称:</span>
                <span>{{data.user_name}}</span>
            </li>
            <li class="list-group-item">
                <span>性别:</span>
                <span>{{data.user_gender}}</span>
            </li>
            <li class="list-group-item">
                <span>年龄:</span>
                <span>{{data.user_age | setAge}}</span>
            </li>
            <li class="list-group-item">
                <span>个性签名:</span>
                <span>{{data.user_introduce}}</span>
            </li>
            <li class="list-group-item">
                <span>分组:</span>
                <span>{{friendship.friendship_name}}</span>
            </li>
            <li class="list-group-item">
                <span>下载记录:</span>
                <button type="button" id="download-messages-private" class="btn btn-primary">
                    download
                </button>
            </li>
        </ul>
        <span class="tip">修改好友相关信息请前往好友界面</span>
    </div>
</script>

<script type="text/html" id="tpl-group-info">
    <div class="photo">
        <img src="{{group.group_photo}}">
        <span>{{group.group_name}}</span>
    </div>
    <div class="info">
        <ul class="info-list list-group">
            <li class="list-group-item">
                <span>GID:</span>
                <span>{{group.group_id}}</span>
            </li>
            <li class="list-group-item">
                <span>群名:</span>
                <span>{{group.group_name}}</span>
            </li>
            <li class="list-group-item">
                <span>群介绍:</span>
                <span>{{group.group_introduce}}</span>
            </li>
            <li class="list-group-item">
                <span>下载记录:</span>
                <button type="button" id="download-messages-group" class="btn btn-primary">
                    download
                </button>
            </li>
        </ul>
    </div>
</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/scroll.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/art-template.js"></script>
<script type="text/javascript" src="/js/messages.js"></script>
</body>
</html>